<div style="text-align:center;">
    <h1>Python</h1>
    <p>
        <a target="_blank" href="https://flask.palletsprojects.com/en/1.1.x/quickstart/">Flask v1.1.x Quickstart</a>
        | 
        <a target="_blank" href="https://pymongo.readthedocs.io/en/stable/tutorial.html">PyMongo v3.11.2 Tutorial</a>
        | 
        <a target="_blank" href="https://github.com/andymccurdy/redis-py">redis-py v3.5.3 Git</a>
    </p>
</div>
<h1>MongoDB</h1>
<pre>
    {{ json1 }}
</pre>

{% if res %}
<h1>Redis</h1>
<p>Get Hello => {{ res2 }}</p>
{% endif %}
